/* write your override styles here */
#wall .tag-1 {
    display: none;
    margin-inline-end: auto;
    enable-background: accumulate;
  }
.tag-3 {color: black; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.tag-1 {resize: vertical;
content: '\f209';
text-height: 
content: '\F05B8';;}
